<%= form_with(model: attribute, local: true) do |form| %>
  <% if attribute.errors.any? %>
    <%= render partial: 'shared/flash_message', type: 'error' %>
  <% end %>

  <div class='row'>
    <div class='col-6'>
      <div class='form-group'>
        <%= form.label :title %>
        <%= form.text_field :title, class: 'form-control' %>
      </div>
    </div>
    <div class='col-6'>
      <div class='form-group'>
        <%= form.label :value %>
        <%= form.text_field :value, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="actions d-flex align-items-baseline justify-content-between">
    <%= link_to "Back", attributes_path, class: 'btn btn-secondary p-2' %>
    <%= form.submit "Submit", class: 'btn btn-primary p-2' %>
  </div>
<% end %>
