<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <%= render partial: "shared/flash_message", locals: { alert_type: 'danger', msg: item.errors.full_messages.to_sentence } %>
  <% end %>

  <div class='form-group'>
    <%= form.label :name %>
    <%= form.text_field :name, value: item.name.humanize || nil, required: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :category_id %>
    <%= form.select :category_id, options_from_collection_for_select(categories, :id, :title_and_description), {required: true}, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= label_tag "features" %>
    <%= select_tag "feature_ids[]", options_from_collection_for_select(features, :id, :to_s, item.selected_features), {multiple: true, size: 6, class: 'form-control'} %>
  </div>

  <div class='form-group'>
    <%= form.label :amount %>
    <%= form.number_field :amount, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= form.label :price %>
    <%= form.number_field :price, required: true, step: '.01', class: 'form-control' %>
  </div>

  <div class="actions d-flex align-items-baseline justify-content-between">
    <%= link_to 'Back', items_path, class: 'btn btn-secondary p-2' %>
    <%= form.submit "Submit", class: 'btn btn-primary p-2' %>
  </div>
<% end %>
