<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <%= render partial: "shared/flash_message", type: 'error' %>
  <% end %>

  <div class="form-group">
    <%= form.label :category_id %>
    <%= form.select :category_id, options_from_collection_for_select(Category.all, :id, :title), {}, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= label_tag "Features" %>
    <%= select_tag "feature_ids[]", options_for_select(Feature.all.collect(&:title)), {multiple: true, size: 6, class: 'form-control'} %>
  </div>

  <div class="actions d-flex align-items-baseline justify-content-between">
    <%= link_to 'Back', items_path, class: 'btn btn-secondary p-2' %>
    <%= form.submit "Create", class: 'btn btn-primary p-2' %>
  </div>
<% end %>
