<%= form_with(model: feature, local: true) do |form| %>
  <% if feature.errors.any? %>
    <%= render partial: 'shared/flash_message', locals: { alert_type: 'danger', msg: feature.errors.full_messages.to_sentence } %>
  <% end %>

  <div class='row'>
    <div class='col-6'>
      <div class='form-group'>
        <%= form.label :title %>
        <%= form.text_field :title, value: feature.title.humanize || nil, required: true, class: 'form-control' %>
      </div>
    </div>
    <div class='col-6'>
      <div class='form-group'>
        <%= form.label :value %>
        <%= form.text_field :value, value: feature.value.humanize || nil, required: true, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="actions d-flex align-items-baseline justify-content-between">
    <%= link_to "Back", features_path, class: 'btn btn-secondary p-2' %>
    <%= form.submit "Submit", class: 'btn btn-primary p-2' %>
  </div>
<% end %>
