<div class='container'>
  <div class='d-flex mt-5 align-items-center justify-content-between'>
    <h1>Features</h1>
    <%= link_to "New", new_feature_path, class: 'btn btn-primary' %>
  </div>
  <div class='d-flex mt-3 justify-content-between'>
    <table class='table'>
      <thead>
        <tr>
          <th scope='col'>ID</th>
          <th scope='col'>Title</th>
          <th scope='col'>Value</th>
          <th scope='col'>User</th>
        </tr>
      </thead>

      <tbody>
        <% @features.each do |feature| %>
          <tr>
            <td><%= link_to feature.to_param, feature_path(feature) %></td>
            <td><%= feature.title&.humanize %>
            <td><%= feature.value&.humanize %>
            <td><%= feature.user.email %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>