<!DOCTYPE html>
<html>
  <head>
    <title>Bidops</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:100&display=swap" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag "application" %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <div class="fixed-bottom <%= flash_class(type) %>">
        <div id="error_explanation">
          <div class="alert alert-success alert-dismissable d-flex justify-content-center">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
            <%= msg %>
          </div>
        </div>
      </div>
    <% end %>
    <%= render partial: "shared/navigation" %>
    <div class='wrapper'>
      <%= yield %>
    </div>
  </body>
</html>
