<!DOCTYPE html>
<html>
    <head>
        <title>Bidops</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:100&display=swap" %>
        <%= stylesheet_link_tag    'application', media: 'all' %>
        <%= javascript_include_tag "application" %>
    </head>

    <body>
        <div class='container'>
            <%= yield %>
        </div>
        <% flash.each do |type, msg| %>
            <%= render partial: "shared/flash_message", locals: { alert_type: type, msg: msg } %>
        <% end %>
    </body>
</html>